body {
  margin: auto;
}

form.whole {
  width: 600px;
  margin: auto;
}

form.checkbox {
  width: 20px;
  margin: auto;
}

input {
  width: 100%;
}

table {
  width: 600px;
  margin: auto;
}

td {
  text-align: left;
  width:
}

td.checkbox {
  width: 20px;
}

td.remove {
  float: right;
  width: 40px;
}

.center {
  text-align: center;
}
