body {
  margin: auto;
  background-color: #FFFAFA;
  vertical-align: middle;
}

h1 {
  font-size: 80px;
  font-family: Arial,sans-serif;
  color: #FFE4E1;
}

h6 {
  color: lightgray;
}

form.whole {
  width: 600px;
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 10px 1px gray
}

form.checkbox {
  width: 40px;
  margin: auto;
}

input {
  width: 100%;
  font-style: oblique;
}

input#maintext {
  width: 90%;
}

input.radio {
  width: 20px;
}

table {
  width: 600px;
  margin: auto;
  border-collapse: collapse;
}

table tr	{
  border:1px solid #dedede;
  border-style: solid none none none;
}

td {
  text-align: left;;
}

td.del {
  text-decoration: line-through;
}

td.checkbox {
  width: 40px;
}

td.remove {
  float: right;
  width: 40px;
}

td.center {
  width: 30%;
  margin: auto;
}

td.bottom_left {
  float: left;
  text-align: left;
  width: 100px;
}

td.bottom_right {
  float: right;
  text-align: right;
  width: 100px;
  margin: auto;
}

div.bottom {
  width: 600px;
  margin: auto;
}

.center {
  text-align: center;
}
